* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #202124;
    min-width: 400px;
    font-family: Google Sans,Roboto,Helvetica,Arial,sans-serif;
    height: 100vh;

}

/*NAV*/

.btn-nav {
    color: white;
    background: #1a73e8;
    border: 1px solid transparent;
    font-family: Google Sans,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
}
}

header {
    padding: 6px;
}

header a {
    color: rgba(0,0,0,.87);
    text-decoration: none;
}

.b-1-nav {
    width: 48px;
    height: 48px;
}

.b-1-nav:hover {
    
background-color: #f1f1f1;
border-radius: 100%;
}


/*LOGO*/

.col-logo {
    margin-top: 50px;
}


/*SEARCH*/


.container-fluid {
    padding: 6px;
    align-items: center;
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
}


.p-2 {
    display: inline-block;
    padding-left: 15px;
    color: #202124;
}

.form-floating {

    display: block;
    max-width: 584px;
    height: 48px;
}



a:hover {
    text-decoration: underline;
}


.search {
    padding: 20px;
    
}

.form-control {
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: auto;
    width: 584px;
}

.buttons-search {
    padding: 20px;
}

.form-control:hover {
    box-shadow: #171717;
}





/* .search {
    
        display: flex;
        z-index: 3;
        position: relative;
        min-height: 44px;
        background: #fff;
        border: 1px solid #dfe1e5;
        box-shadow: none;
        border-radius: 24px;
        margin: 0 auto;
        width: auto;
        max-width: 584px;

} */



footer {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #202124;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #f2f2f2;
}
footer section {
    padding: 0 30px;
    display: flex;
    align-items: center;
    height: 50%;
    color: #999da2;
}
